html {
  height: 100%;
  width: 100%;
   scroll-behavior: smooth;

}
body {
  font-family: Arial, sans-serif;
  background-color: #4b7ca7;
  color: #333;
  padding: 20px;
}
img {
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
}

p{
  font-size: 1rem;
  line-height: 1.83;
  color: #f0f0f0;
}

h3 {
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff;  
}

h1 { 
  font-size: 1.25rem; 
  font-family: Bitcount Ink;

}

h2 { 
  font-size: 2.488rem; 
  line-height: 1.4;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: #ffffff; 
}

h3 { 
  font-size: 2.074rem; 
}

h4 { 
  font-size: 1.728rem; 
}

a:link{
  color: #b12b2b;
  text-decoration: dashed;
}

a:visited {
  color: #6fb7ca;
}

a:hover, a:active {
  text-decoration: underline;
}

hr {
  border: 0;
  height: auto;
  width: 80%;
  color: aqua;

}

table {
  border-collapse: collapse;
  margin: 20px 0;
  width: 90%;
  background-color: #a75162;
}
th {
  background-color: #5c85d6;
  color: #fff;
  font-size: 1.1em;
  padding: 10px;
  border: 2px solid #ffffff;
}
td {
  background-color: #76d3b9;
  color: #000;
  padding: 8px;
  border: 1px solid #ffffff;
}

img {
  border: 1px solid #0a0a0a;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  margin-right: 10px;
  box-shadow: 10px 10px 27px -6px rgba(0,0,0,0.75);
-webkit-box-shadow: 10px 10px 27px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 27px -6px rgba(0,0,0,0.75);
}

.about-color {
    color: #ff5733;
}

.carrer-color {
    color: #33c1ff;
}

.fancybox {
  width: 250px;
  height: 150px;
  background-color: lightblue;
  border: 4px solid #333333;
  border-radius: 20px;
  margin: 20px;
  padding: 15px;
}
.fancybox{
    background-color: #dddddd;
  transition: 1s ease-in-out;
}
.fancybox:hover{
    background-color: #bbbbbb;
    transition: 1s ease-in-out;
}
.container {
  width: 56rem;
  margin: 3rem auto;
  background-color: #3a668a;
  padding: 2rem;
  border-radius: 12px;
}

.title {
  border-bottom: 1px dotted #bbbbbb;
  width: 25rem;
  margin-bottom: 4rem;
}

.section {
  margin-bottom: 3rem;
}
.container{
  width: 56rem
}
.title{
  border-bottom: 1px dotted #bbbbbb;
   width: 25rem;
   margin-bottom: 4rem; 
}
.fancy-link{
  display: inline-block;
  background-color: #3b68e1;
  color: #d20e0e;
  padding: 1rem 1.5rem;
  margin: 1rem 2rem;
  border-radius: 12px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.fancy-link:hover{
  background-color: #4fa3c2;
  box-shadow: 0rem 0.5rem 0.5rem -0.2rem rgba(0, 0, 0, 0.3);
  transform: translateY(-3px); 
}
.fancy-link:active{
  transform: translate(-1px);
  box-shadow: none
}
nav {
  width: 56rem;
  margin: 3rem auto;
  background-color: #3a668a;
  padding: 2rem;
  border-radius: 12px;
  text-align: center;
}
nav a{
  color: #ffffff;
  margin-right: 15px;
  font-weight: bold;
}
nav a:hover{
  color:green ;
}
